/*  TABLE OF CONTENT

1. Global style;
2. LandingPage;
3. NavBar;
4. VerticalBar;
5. Main section (Recipes);
6. Grid;
7. All offers;
8. Flex Menus;
9. Offers Box;
9. Footer;
10. RESPONSIVE SITE;

*/

/*  =============
    Global style
    ========  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*  =============
    LandingPage
    ========  */
.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(burger.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

/*  =============
    NavBar  
    ========  */
.nav-bar {
    display: flex;
    padding: 40px 120px;
}

.nav-logo img {
    width: 135px;
    position: relative;
    left: -10px;
    top: -40px;
    background-color: #f5a611;

}

.nav-links {
    flex: 1;

}

.nav-links ul {
    margin-left: 50px;
    display: inline;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 25px;
}

.nav-links ul a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #e28e07;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.btn {
    padding: 10px 30px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 1s ease-out;
}
.btn:hover {
     background-color:#e28e07 ;
     transform: scale(1.1);
     color:rgb(255, 255, 255);
     
}

.nav-links .btn {
    float: right;
}

.banner-title {
    margin: 80px 130px;
    color: #fff;

}

.banner-title h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

/*  =============
    VerticalBar  
    ========  */

.vertical-bar {
    height: 100%;
    background: #4b4b4b;
    top: 0;
    left: 0;
    position: absolute;
}

.search-icon {
    height: 60%;
    width: 80px;
}

.search-icon .fa {
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.social-icons {
    height: 35%;
    width: 80px;
    background: #f5a611;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}

.social-icons .fa {
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;

}

.notification {
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #f5a611;
    align-items: center;
}

.contents {
    flex-basis: 50%;
    padding: 10px;
}

.notification-img {
    flex-basis: 50%;

}

.notification-img img {
    width: 100%;

}

.nav-bar .fa {
    display: none;

}


/*  =============
    Main section (Recipes)
    ========  */


section h1 {
    text-align: center;
    padding-bottom: 30px;
    color: #fd5c21;
    font-size: 40px;
}

/*  =============
    Grid Section
    ========  */

.grid-container {
    background-color: #fdfafa;
    max-width: 1370px;
    height: 500px;
    padding-bottom: 45px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
     


}

.grid-item img {
    object-fit: cover;
    width: 430px;

}

.grid-item .image {
    position: relative;
    width: 400px;
    height: 300px;
    z-index: 2;
}

.grid-item .image::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 4%;
    width: 70%;
    height: 70%;
    background: black;
    transform-origin: right;
    transform: skewY(-10.5deg);
    filter: blur(15px);
    z-index: -1;
}

.grid-item .image::before {
    content: "";
    position: absolute;
    bottom: -15px;
    right: 1%;
    width: 70%;
    height: 70%;
    background: black;
    transform-origin: right;
    transform: skewY(10.5deg);
    filter: blur(15px);
    z-index: -1;

}

.image h3 {
    margin: 20px 0;
    padding: 10px;
    font-size: 1.4rem;
    text-transform: uppercase;

}

.details {
    padding: 60px 0;
    margin: 10px 0;
    width: 420px;

}

.details h4 {
    color: #959595;

}

.grid-item .details {
    line-height: 24px;
}

 
/*  =============
    All offers 
    ========  */


.clearfix {
    margin: 20 0px;
    padding: 40px 0 40px 0;
    position: relative;
    background-color: #fdfafa;
}

.clearfix img {
    float: left;
    overflow: auto;
    padding: 15px;
    margin: 18px;
}


.clearfix h1 {
    line-height: 4rem;
    font-family: sans-serif;
    font-size: 2.9vh;
}

.clearfix h3 {
    color: rgba(255, 39, 39, 0.73);
}

.clearfix p {
    margin: 10px;
    padding: 25px;
    line-height: 27px;
    text-align: justify;
    max-width: 850px;

}

.clearfix p:after {
    content: "";
    clear: both;
    display: table;
}

.expand {
    display: inline-block;
    font-size: 1.1rem;
    padding: 16px;
    border: none;
    background-color: #FEA203;
    box-shadow: 15px 15px 30px rgba(0,0,0,0.5);
    color: white;
    border-radius: 24px;
    font-weight: bold;
    text-transform: uppercase;
    width: 230px;
    position: absolute;
    bottom: 135px;
    left: 320px;
    cursor: pointer;


}

/*  =============
        Flex Menus
    ========  */

.flex-shop {
    background-color: #F9FAFC;
    margin: 4vh 0;
    padding: 60px 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    gap: 1.1rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-basis: 80%;
    justify-content: center;
    position: relative;
}

.ingredients {
    width: 50%;


}

.ingredients p {
    color: #000000;
    text-align: justify;

}

.flex-icons1 {

    position: absolute;
    left: 7%;
    bottom: 15%;
     

}

.flex-icons1 ul li {
    cursor: pointer;
    list-style-type: none;
    display: inline-block;
    padding: 15px 6px;
    font-size: 1.1rem;
    color: #020201;
}

.left {

    position: absolute;
    left: 44%;
    width: 20%;
     
}

.flex-picture {
    width: 555px;
    height: 250px;
    position: relative;

}

.picture1 {
    transform: translateX(100px);
    position: relative;
}

.picture1 .type {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 900;
    text-align: center;



}

.flex-picture .vertical {
    height: 80%;
    width: 12%;
    background-color: #FEA203;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    border-radius: 0 25px 0;


}

.flex-picture .title {
    height: 80%;
    width: 12%;
    background-color: #FEA203;
    position: absolute;
    left: 1px;
    bottom: 0;
    top: 0;
}

.flex-picture .type {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;


}

.vertical h3 {
    writing-mode: vertical-1r;
    display: inline-block;
    color: white;
    transform: rotate(90deg);
    letter-spacing: 1.2px;
    padding: 15px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 1.5rem;
    
}

.title h3 {
    writing-mode: vertical-1r;
    display: inline-block;
    color: white;
    transform: rotate(270deg);
    letter-spacing: 1.2px;
    padding: 15px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 1.5rem;
    position: absolute;
    bottom: 90px;
    left: 10px;
}

.picture2 {
    transform: translateX(-100px);
    position: relative;
}

.picture2 .type {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 900;

}

.picture3 {
    transform: translateX(100px);
    position: relative;
}

.picture3 .type {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 900;
}

.picture4 {
    transform: translateX(-100px);
    position: relative;
}

.picture4 .type {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 900;
}

.flex-picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.flex2 {
    display: flex;
    flex-direction: row-reverse;
}

.flex4 {
    display: flex;
    flex-direction: row-reverse;
}

/*  =============
    Offers box
    ========  */

.offers {
    position: relative;
    background: #F9FAFC;
    border: 3px solid #FFBA43;
    box-sizing: border-box;
    border-radius: 39px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 30px;
    transform: translateY(40px);
    z-index: 1;
}

.offers .content h1 {
    position: absolute;
    top: 0;
    right: 220px;
    width: 287px;
    height: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
}

.offers .content p {
    text-align: center;
    padding: 5px 0;
    color: #7b7a7a;
}

.offers .search {

    background: #F2EAEA;
    border: 4px solid #BEBEBE;
    box-sizing: border-box;
    box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    padding-top: 10px;
    display: block;
    width: 570px;
    height: 45px;
    margin: 9px auto 0 auto;
    position: relative;
    cursor: pointer;
    text-align: center;
    color: #afafaf;

}

.offers .search button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 29px;
    background-color: #FEA203;
    position: absolute;
    width: 143px;
    height: 47px;
    top: -4px;
    left: -3px;
    bottom: 0;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 32px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: width 1s ease-in-out;

}
.offers .search button:hover {
    width: 100%;
    color:#000000;
    background: linear-gradient(75deg, rgb(235, 196, 69), rgb(235, 153, 2));
}


/*  =============
    Footer section
    ========  */

.menu {
    max-width: 100%;
    padding: 25px;
    text-align: center;
    padding-top: 30px;
    position: relative;
    max-width: 100%;
    padding: 55px;
    background-color: #FEA203;
}

.aboutus {
    position: absolute;
    width: 170px;
    height: 90px;
    top: 8px;
    left: 10px;

}

.aboutus h3,
p {
    margin: 10px;
    text-align: justify;

}

.menu ul li {
    list-style-type: none;
}

.Contact {
    width: 250px;
    height: 90px;
    margin: 0 auto;
    text-align: justify;
    line-height: 25px;
    cursor: pointer;
}

.support {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 170px;
    height: 80px;
    text-align: justify;
}

.support h3,
p {
    margin: 10px;
    text-align: justify;

}

.copyright {
    background-color: #aa6c00;
    margin: 0;
    padding: 4px 0;
    position: relative;
}

.folowus ul {
    position: absolute;
    right: 0;
    bottom: 8px;
}

.folowus .fa {
    display: inline-block;
    width: 50px;
    cursor: pointer;

}

.folowus .fa {
    font-size: 1.3rem;
    color: white;
    text-align: center;
}

/*  =============
    RESPONSIVE SITE
    ========  */

@media (max-width: 860px) {
    .vertical-bar {
        display: none;
    }

    .banner-title {
        margin: 80px 40px;
    }

    .banner-title h1 {
        font-size: 50px;
    }

    .notification {
        width: 100%;
    }

    .nav-bar {
        padding: 10px 30px;
    }

    .fa-bars {
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .nav-bar .fa {
        display: block;
        color: white;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links {
        height: 100vh;
        width: 200px;
        color: #000;
        position: absolute;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul a {
        display: block;
    }

    .nav-links .btn {
         
        margin-left: 25px;
        margin-top: 10px;
    }




/* --------
Offers icons
---------*/
/* .flex-icons1 ul li {
    cursor: pointer;
    list-style-type: none;
    display: inline-block;
    padding: 15px 6px;
    font-size: 1.1rem;
    color: #020201;
}
.flex-icons1 {

    position: absolute;
    right: 0;
    bottom: 15%;
     

}
.left {
    position: absolute;
    left: 0;
    bottom: 70px;
    width: 20%;
     
} */
    .expand {
    position: absolute;
    bottom: 0;
    left: 0;
      
}  
 }
  @media screen and(max-width:500px) {
   
        .grid-container {
            background-color: #fdfafa;
            width: 1370px;
            height: 500px;
            padding-bottom: 45px;
            margin: auto;
            display: grid;
            grid-template-columns: 1 fr 1fr;
             
             
             
        
        
        }
         
         
    
    
    }


}
 