@mixin FlexStyle($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin GlobalStyle {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

* {
    @include GlobalStyle;
}

#main {
    @include FlexStyle(column);
    text-align: left;

}
 
.navbar {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(31, 30, 30));
    background-size: 250%;
     

    .navbar-nav .nav-item .nav-link {
        color: rgb(255, 255, 255);
        font-weight: 600;
        margin-left: 1.1em;
        text-transform: uppercase;
        &:hover {
            color: black;
            background-color: rgba(8, 8, 8, 0.26);
        }
    }
}
 
#title {
    font-size: 4.5vw;
    font-weight: 700;
    margin: 60px 0;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

 #tribute-info {
     padding: 30px 0;
     margin: 40px 15px;
     h3 {
         font-weight: bold;
         padding: 20px 0;
     }
     h6 {
         opacity: 0.5;
     }
     p {
         text-align: left;
         line-height: 29.7px;
     }
 }