* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Helvetica, Arial;
    box-sizing: border-box;
}

.top {
    height: 100vh;
    background-image: url(Images/landing.jpg);
    background-color: #acacac;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

.navbar {
    margin: 0;
    padding: 0;
    flex-grow: 1;

}

.list {
    display: flex;
    list-style-type: none;
    gap: 30px;
    flex-grow: 1;
    
}
.list li a {
    text-decoration: none;
    color: #ffffff;
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
   
}
.list .baseline {
    position: relative;
    
}
.list .baseline::after {
    position: absolute;
    content: "";
    width: 100%;
    background: #86c2f2;
    height: 3.2px;
    bottom: -5px;
    left: 0;
    transition: transform 500ms ease-in-out;
    
    transform: scaleX(0);
    transform-origin: center;
    
}
.list .baseline:hover::after {
    transform: scaleX(1);
}
.list li a .outline {
    display: block;
    width: 89px;
    height: 37px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}
.list li a .outline:hover {
    display: block;
    width: 89px;
    height: 37px;
    padding: 6px;
    color: black;
    background-color: #e8871f;
}

.list li:nth-of-type(5) {
    margin-left: auto;

}

.list li:nth-of-type(1) {
    margin-left: auto;
}

.heading {
    position: absolute;
    top: 210px;
    left: 100px;
    font-size: 4vw;
    font-weight: 700;
    color: white;
    letter-spacing: 0.2rem;

}

.text p {
    position: absolute;
    top: 320px;
    left: 100px;
    font-size: 2.5vh;
    color: #ffffff;
    display: inline-block;
    width: 470px;
    text-indent: 20px;
    line-height: 1.800;
}

.top .btn {
    background-color: #e8871f;
    position: absolute;
    top: 420px;
    left: 100px;
    border-radius: 10px;
    padding: 12px 35px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  
}
.top .btn::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffc503;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    transition: transform .5s ease-in;
    
    transform: scaleX(0);
    transform-origin: left;
}
.top .btn:hover::after {
    transform: scaleX(1);
    
}
 

/* -----------------Main section-------------------*/
.main p {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center;
    padding: 70px;
    background-color: #f1f1f1;
    font-size: 0.9rem;

}

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    gap: 1.1rem;
}

.container .img {
    flex-basis: 40%;
}

.details {
    display: flex;
    flex-direction: column;
}

.details h1 {
    font-weight: 500;
    font-size: 2.2rem;
    padding-bottom: 40px;
    padding-top: 60px;
    text-transform: uppercase;
    color: #e21383;

}

.details p {
    font-size: 0.8rem;
    color: #585858;

}

.details .expand {
    background-color: #e8871f;
    display: inline-block;
    width: 130px;
    border-radius: 20px;
    color: #fafafa;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 6px;
    box-shadow: 5px 5px 15px #868584;
}

.details .expand:hover {
    opacity: 0.8;
}
.info {

    margin: 0 30px;
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
}

.info h3 {
    font-weight: 400;
    padding-bottom: 20px;
}

/* ---------Gallery-------- */
.caption h1 {
    font-weight: 600;
    color: #7b0f22;
    margin: 30px;
    text-align: center;
    position: relative;
     
}
  #gal:after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: black;
    position: absolute;
    right: 370px;
    top: 50%;
    z-index: -2;
}
  #gal:before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: black;
    position: absolute;
    left: 370px;
    top: 50%;
    z-index: -2;
}
 
.gallery {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 10px;
    padding-top: 20px;
    gap: 25px;
}

.col_ {

    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 32%;
    align-items: center;
}

/* ------------Banner bckg------------*/
.banner {
    padding: 60px 30px;
    margin: 20px 100px;
    position: relative;
    border-radius: 5px;
    background: url(Images/waves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #a8a8a8;
    background-blend-mode: multiply;
    
}

.title {
    font-size: 2.6rem;
    font-weight: 600;
    color: #ffffff;
    padding: 0 30px;
}

.title span {
    font-size: 2.5rem;
    color: #ff1493;
    font-weight: 700;
}

.backg p {
    padding: 0 30px;
    margin: 25px 0;
    color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.6rem;
    max-width: 50%;

}

.backg .button {
    margin: 0 30px;
    border-radius: 20px;
    padding: 20px 70px;
    background-color: #e8871f;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
   
}
.backg .button::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
    background: #ffc503;
    transition: transform 500ms ease-in-out;
    
    transform: scalex(0);
    transform-origin: left;
}
.backg .button:hover::after {
    transform: scalex(1);
}
.backg .button:hover {
    background-color: #eaa861;
}


/* -----------------Events section------------- */
.events {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100p%;
    box-sizing: border-box;

}

.events .box {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 50px 8px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);

}
.events .box:hover {
    transform: translateY(-15px);
    transition: all ease 0.4s;

}

.box .imgBx {
    padding: 35px 0;
    margin: 20px 0;
}

.box .imgBx img {
    border-radius: 10px;
    object-fit: cover;
}

.events .box .content {
    padding-top: 30px;
}

.events .box .content .titleText {
    text-transform: uppercase;
    font-weight: 600;
    color: #8e0951;
    letter-spacing: -2px;
    padding: 1rem;
}

.events .box .content p {
    max-width: 400px;
    color: #240716;
    line-height: 1.6;
}


/* ------------Footer------------*/
.foot {
    background-color: #5992C2;
    color: #1a0303;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    padding: 50px 20px 0px 20px;
    box-sizing: border-box;
    position: relative;
    margin: 20px 0 0 0;

}

.foot h3 {
    margin: 0;
    padding: 15px 0;
}

.foot p {
    margin: 0;
    padding-bottom: 35px;
    box-sizing: border-box;
    max-width: 700px;
    line-height: 1.6;


}

#cip a {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 300;

}

/* ---------Social Icons---------- */

.icons {
    position: absolute;
    bottom: 0;
    right: 5px;
    box-sizing: border-box;

}

.icons ul {
    display: flex;
    flex-direction: row;
}

.icons ul li:hover {
    transform: translateY(-15px);
    transition: all ease 0.4s;
}
.icons ul li {
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 13px;
    padding-top: 8px;
    margin-top: 5px;
    color: #ffffff;
    border-radius: 25px;

}

.facebook {
    background: #3b5998;
}

.instagram {
    background: #55acee;
}

.linkedin {
    background: #007bb5;
}

.youtube {
    background: #ff0000;
}

.github {
    background: #007bb5;
}

/* -------------------RESPONSIVE-------------------- */

@media screen and (max-width:768px) {
    .container {
        display: block;
    }
    .details {
        display: block;
    }
    .backg p {
    padding: 0;
    margin: 25px 0;
    color: #0a0707;
    font-size: 1rem;
    line-height: 1.6rem;
    width: 100%;
    font-weight: 600;
}   
    #gal:after, #gal:before {
        display: none;
    }
}