* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  background-color: #051937;
  padding: 12px 0;
  z-index: 3;
}

#navbar img {
  margin-left: 50px;
}

#navbar .nav-link {
  color: white;
  position: relative;
  z-index: 1;
}

#navbar .nav-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  z-index: -1;
}

#navbar .nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-color: #c5004c;
  border-radius: 35px;
}

#navbar .nav-link:nth-of-type(5) {
  margin-left: auto;
  margin-right: 8px;
  background-color: white;
  border-radius: 35px;
  width: 90px;
  text-align: center;
  color: black;
}

#navbar .nav-link:nth-of-type(1) {
  margin-left: auto;
}

#welcome-section {
  height: 100vh;
  overflow: hidden;
  background: url(../Images/bg.jpg);
  background-color: #b1aeae;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

#welcome-section h1 {
  position: relative;
  left: 130px;
  top: 120px;
  font-weight: bolder;
  color: white;
  font-size: 4vw;
  max-width: 550px;
}

#welcome-section h1 span {
  color: yellow;
}

#welcome-section p {
  position: relative;
  left: 130px;
  top: 170px;
  color: white;
  font-size: 1.2em;
  max-width: 600px;
}

#welcome-section input[type="email"] {
  position: absolute;
  left: 130px;
  top: 430px;
  padding: 12px 160px;
  border: inset;
  border-radius: 35px;
}

#welcome-section .btn {
  position: absolute;
  left: 472px;
  top: 434px;
  padding: 10px 35px;
  border-radius: 28px;
}

#main-content {
  position: relative;
  min-height: 50vh;
  background: url(../Images/pexels-jess-bailey-designs-1558690.jpg);
  background-size: 150%;
  background-position: right;
  background-repeat: no-repeat;
}

#main-content #projects {
  position: relative;
  top: 25px;
  color: #000;
  max-width: 900px;
  margin: auto;
  padding: 50px 20px 0 20px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#main-content #projects:before {
  content: '';
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  background: rgba(230, 230, 230, 0.842);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

#main-content #projects > * {
  position: relative;
  z-index: 2;
}

#main-content #projects .project-tile {
  text-transform: uppercase;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.title h1 {
  font-weight: 600;
  color: #000000;
  margin: 30px;
  text-align: center;
  position: relative;
}

.title h1::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: black;
  position: absolute;
  right: 430px;
  top: 50%;
  z-index: -2;
}

.title h1::before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: black;
  position: absolute;
  left: 430px;
  top: 50%;
  z-index: -2;
}

#projects-content {
  margin: 80px 0;
  min-height: 100vh;
}

#projects-content h2 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.9em;
}

#projects-content p {
  font-size: 1.2em;
  line-height: 1.5em;
}

#projects-content .btn-danger {
  min-width: 60%;
  background-image: rgba(179, 179, 179, 0.432);
  background-size: 200%;
  color: black;
  font-weight: bolder;
  border: none;
  text-transform: uppercase;
}

#projects-content #firstProject {
  background-color: #2a73cc;
  color: white;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects-content #secondProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50vh;
  background-color: #3e205b;
  color: white;
}

#projects-content #thirdProject {
  min-height: 50vh;
  background-color: #3e205b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects-content #fourProject {
  background-color: #2a73cc;
  color: white;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  #welcome-section {
    background-color: yellow;
    height: 50vh;
  }
}
/*# sourceMappingURL=style.css.map */