@mixin globalStyle {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

$colorPalette1:#F7F7F7;
$colorPalette2:#C0FCF8;
$colorPalette3:#5BBAB5;
$colorPalette4:#E42183;


* {
    @include globalStyle();
}
 
.main-body {
    display: grid;
    grid-template-columns: minmax(280px, auto) 1fr;
    grid-template-areas: 'navbar mainDoc';
    grid-gap: 60px;

    code {
        background: #ccc;
        display: block;
        padding: 20px;
    }
}

#navbar {
    background: $colorPalette2;
    grid-area: navbar;
    position: fixed;
    height: 100vh;
    padding-right: 39px;

    header {
        font-size: 1.5em;
        font-weight: bolder;
        text-transform: uppercase;
        padding-top: 15px;
    }

    .nav-link {
        display: block;
        border: 1px solid black;
        padding: 10px;
        margin: 30px 0;
        text-decoration: none;
        color: black;
        width: 100%;
        &:hover {
            background-image: linear-gradient(to right, $colorPalette3, $colorPalette2);
            border: inset;
        }
    }
}

#main-doc {
    background-color: $colorPalette1;
    grid-area: mainDoc;
    padding-left: 30px;

    header {
        font-size: 1.5em;
        font-weight: bolder;
        line-height: 1.9em;
        color: $colorPalette4;
        &:hover:active {
            background-color: $colorPalette3;
        }
    }
}

@media screen and (max-width: 750px) {

    .main-body {
        grid-template-columns: 1fr;
        grid-template-areas: "navbar" "mainDoc";
    }
    #navbar {
        position: inherit;
     
        header {
            margin: auto;
            width: 50%;
            color: $colorPalette4;
        }
    }
   
}